/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2016, 2:39:10 PM
    Author     : koriley
*/
$orange: #EF4F23; 
$black: #000000;

.borderless td, .borderless th {
    border: none !important;
}
.borderless{
    border-bottom:1px solid $black;
} 

.headImage{
    max-width:100%;
    margin-top:50px;
   img{
       max-width:100%;
      
    }
}